.span{
    cursor: pointer;
}



.listado{
    display: flex;
    
    justify-content: center; 
    margin: 70px 
}

.listado section{
    margin: 30px;
    padding: 10px 30px;
    border: 1px solid #000000;
    border-radius: 8px;
    background-color: #ff0000;
    color: rgb(0, 0, 0);
}

.botones{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 5px;
}