li{
  list-style: none;
  padding: 10px;
  font-size: 2rem;
}

li:hover{

  cursor: pointer;
}

header{
  margin-bottom: 60px;
}

.publicados{
  cursor: pointer;
  
 
}
body {
  margin: 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aliceblue;
}

code {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav{
  background-color: #ff0202;

 
}

ul{
  list-style: none;
  padding: 0;
}



